header {
	width: 100%;
	height: 52px;
	background: linear-gradient(#fc9015, #f18101 50%);
}

header #header_inner {
	width: 980px;
	height: 52px;
	margin: 0 auto;
	padding-top: 3px;
}

header #header_inner div {
	float: left;
}

header #header_inner div.myrole {
	float: right;
}

header #header_inner div.myrole p {
	float: left;
	line-height: 48px;
	font-size: 13px;
	color: #e8d2d2;
	font-weight: bold;
}

header #header_inner div.myrole p span {
	margin-left: 5px;
}

header #header_inner div.myrole .logout {
	position: relative;
    top: 15px;
}

header #header_inner div.myrole .logout button {
	border: 2px solid #dddada;
    width: 60px;
    height: 24px;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    background: #de7c0c;
    border-radius: 4px;
    margin-left: 12px;
}

header #header_inner div.myrole .logout button:hover {
	background: #fc921a;
}